**Example:**

eggs = (1,3,8,3,2)

my_listComprehension = [1/egg for egg in eggs]

print(my_listComprehension)

# Insert here the module/library import statements

In [1]:
import math


# Calculate the square number of the first 20 numbers. Use square as the name of the list.
Remember to use list comprehensions and to print your results

In [22]:
square = [x**2 for x in list(range(0,21))]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

# Calculate the square root of the first 100 numbers. Use sqrt as the name of the list.
You will probably need to install math library with pip and import it in this file.

Remember to use list comprehensions and to print your results

In [23]:
sqrt = [x**2 for x in list(range(0,101))]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]


# Create this list [-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,0]. Use my_list as the name of the list.
Remember to use list comprehensions and to print your results

In [29]:
my_list = [x for x in range(-10, 1)]
my_list

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0]


# Find the odd numbers from 1-100. Use odds as the name of the list. 
Remember to use list comprehensions and to print your results

In [44]:
odd_list = [ x for x in range(1,100) if x%2 ==1]
odd_list

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

# Find all of the numbers from 1-1000 that are divisible by 7. Use divisible_by_seven as the name of the list.
Remember to use list comprehensions and to print your results

In [45]:
diviseven = [x for x in range(1,1000) if x%7 ==0]
diviseven

[7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 70,
 77,
 84,
 91,
 98,
 105,
 112,
 119,
 126,
 133,
 140,
 147,
 154,
 161,
 168,
 175,
 182,
 189,
 196,
 203,
 210,
 217,
 224,
 231,
 238,
 245,
 252,
 259,
 266,
 273,
 280,
 287,
 294,
 301,
 308,
 315,
 322,
 329,
 336,
 343,
 350,
 357,
 364,
 371,
 378,
 385,
 392,
 399,
 406,
 413,
 420,
 427,
 434,
 441,
 448,
 455,
 462,
 469,
 476,
 483,
 490,
 497,
 504,
 511,
 518,
 525,
 532,
 539,
 546,
 553,
 560,
 567,
 574,
 581,
 588,
 595,
 602,
 609,
 616,
 623,
 630,
 637,
 644,
 651,
 658,
 665,
 672,
 679,
 686,
 693,
 700,
 707,
 714,
 721,
 728,
 735,
 742,
 749,
 756,
 763,
 770,
 777,
 784,
 791,
 798,
 805,
 812,
 819,
 826,
 833,
 840,
 847,
 854,
 861,
 868,
 875,
 882,
 889,
 896,
 903,
 910,
 917,
 924,
 931,
 938,
 945,
 952,
 959,
 966,
 973,
 980,
 987,
 994]

# Remove all of the vowels in a string. Hint: make a list of the non-vowels. Use non_vowels as the name of the list.
Remember to use list comprehensions and to print your results

In [50]:
# You can use the following test string but feel free to modify at your convenience

teststring = 'Find all of the words in a string that are monosyllabic'
vowels = "a""i""u""e""o"
non_vowels = {x for x in teststring if x not in vowels}
print (non_vowels)

{'m', 'n', ' ', 'f', 'l', 'h', 'w', 'F', 'b', 'c', 's', 'y', 'r', 'g', 'd', 't'}

# Find the capital letters (and not white space) in the sentence 'The Quick Brown Fox Jumped Over The Lazy Dog'. 
- **Use capital_letters as the name of the list.**

Remember to use list comprehensions and to print your results

In [76]:
sentence = 'The Quick Brown Fox Jumped Over The Lazy Dog'
capital_letters=list(filter(lambda x: x.isupper(),sentence))
print(capital_letters)

['T', 'Q', 'B', 'F', 'J', 'O', 'T', 'L', 'D']

# Find all the consonants in the sentence 'The quick brown fox jumped over the lazy dog'.
 - **Use consonants as the name of the list.**
 
Remember to use list comprehensions and to print your results.

In [95]:
string = 'The quick brown fox jumped over the lazy dog'
vowels = 'aeiou '
consonants = {x for x in string if x not in vowels}
print (consonants)

{'j', 'p', 'f', 'c', 't', 'k', 'w', 'l', 'b', 'y', 'r', 'm', 'z', 'q', 'h', 'n', 'v', 'T', 'x', 'g', 'd'}

# Find the folders you have in your madrid-oct-2018 local repo. Use files as name of the list.  

**Hint: You will probably need to import os library and some of its modules. You will need to make some online research.**

Remember to use list comprehensions and to print your results.

In [122]:
import os 
cwd = os.getcwd() 
cwd
files = os.listdir("\\Users\\Hassan\\Desktop\\ironhack\\")

# Create 4 lists of 10 random numbers between 0 and 100 each. Use random_lists as the name of the list. 
**Hint: You will probably need to import random module**

Remember to use list comprehensions and to print your results

In [149]:


random_list1 =random.sample(range(0, 100), 10)
random_list2 =random.sample(range(0, 100), 10)
random_list3 =random.sample(range(0, 100), 10)
random_list4 =random.sample(range(0, 100), 10)
print(random_list1)
print(random_list2)
print(random_list3)
print(random_list4)

[95, 80, 12, 76, 36, 89, 9, 22, 27, 56]
[41, 70, 14, 99, 21, 16, 54, 28, 19, 75]
[6, 64, 59, 19, 60, 56, 62, 48, 82, 54]
[66, 24, 39, 10, 19, 22, 8, 61, 80, 28]

# Flatten the following list of lists. Use flatten_list as the name of the output.

Remember to use list comprehensions and to print your results

In [156]:
ll = [[1,2,3],[4,5,6],[7,8,9]]

In [158]:
flatten_list = [ll for ll in ll for ll in ll]
flatten_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]


# Convert the numbers of the following nested list to floats. Use floats as the name of the list. 

Remember to use list comprehensions and to print your results.

In [178]:
list_of_lists = [['40', '20', '10', '30'], ['20', '20', '20', '20', '20', '30', '20'], \
['30', '20', '30', '50', '10', '30', '20', '20', '20'], ['100', '100'], ['100', '100', '100', '100', '100'], \
['100', '100', '100', '100']]

In [179]:
float_lists = [float(i) for x in list_of_lists for i in x]
print(float_lists)

[40.0, 20.0, 10.0, 30.0, 20.0, 20.0, 20.0, 20.0, 20.0, 30.0, 20.0, 30.0, 20.0, 30.0, 50.0, 10.0, 30.0, 20.0, 20.0, 20.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0]

# Handle the exception thrown by the code below by using try and except blocks.

In [205]:
try:
    for i in ['a','b','c']:
        except:
            print i**2

SyntaxError: invalid syntax (1048088858.py, line 3)

# Handle the exception thrown by the code below by using try and except blocks. 

Then use a finally block to print 'All Done.'

Check in provided resources the type of error you may use.

In [210]:
try:
    x = 5
    y = 0
    z = x/y
except ZeroDivisionError:
    print ("there is a zero division error")

there is a zero division error

# Handle the exception thrown by the code below by using try and except blocks. 

Check in provided resources the type of error you may use.

In [213]:
try:
    abc=[10,20,20]
    print(abc[3])
except IndexError:
    print("there is an index error")

there is an index error

# Handle at least two kind of different exceptions when dividing a couple of numbers provided by the user. 

**Hint: take a look on python input function.**

Check in provided resources the type of error you may use.

In [220]:
a=input("input number 1: ")
b=input("input number 2: ")
try:
    a=float(a)
    b=float(b)
    print(a/b)
except ZeroDivisionError:
    print("Division by zero and zero error!")
except ValueError:
    print("please provide a number!")

input number 1:  d
input number 2:  d

please provide a number!

# Handle the exception thrown by the code below by using try and except blocks. 

Check in provided resources the type of error you may use.

In [221]:
try:
    f = open('testfile','r')
    f.write('Test write this')
except FileNotFoundError:
    print('This file is not found')

This file is not found

# Handle the exceptions that can be thrown by the code below using try and except blocks. 

**Hint: the file could not exist and the data could not be convertable to int**

In [225]:
try:
    fp = open('myfile.txt')
    line = f.readline()
    i = int(s.strip())
except FileNotFoundError:
    print("This file doesnt exist")

This file doesnt exist

# The following function can only run on a Linux system. 
The assert in this function will throw an exception if you call it on an operating system other than Linux.

Handle this exception using **try and except** blocks.

You will probably need to import sys

In [232]:
import sys
try:
    def linux_interaction():
            assert ('linux' in sys.platform), "Function can only run on Linux systems."
            print('Doing something.')
    linux_interaction()
except AssertionError:
    print('I dont have a linux')

I dont have a linux


# Bonus Questions:

You will need to make some research on dictionary comprehension to solve the following questions

## Write a function that asks for an integer and prints the square of it. 

**Hint: we need to continually keep checking until we get an integer.**

Use a while loop with a try,except, else block to account for incorrect inputs.


## Find all of the numbers from 1-1000 that are divisible by any single digit besides 1 (2-9). 

Use results as the name of the list

## Define a customised exception to handle not accepted values. 

You have the following user inputs and the Num_of_sections can not be less than 2.

**Hint: Create a class derived from the pre-defined Exception class in Python**

In [6]:
Total_Marks = int(input("Enter Total Marks Scored: ")) 
Num_of_Sections = int(input("Enter Num of Sections: "))

Enter Total Marks Scored: ass

ValueError: invalid literal for int() with base 10: 'ass'